name: CI

on:
  pull_request:
  workflow_call:

jobs:
  test-and-build:
    name: Test
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 16
          cache: 'npm'

      - name: Install dependencies
        run: npm ci

      - name: Test, lint & check types
        run: npm check-all

      - name: Build frontend
        run: npm run build

      - name: Synth CDK
        run: npm run synth
        