name: Deploy

on:
  workflow_call:
    inputs:
      AWS_ROLE_ARN:
        required: true
        type: string

jobs:
  cdk:
    name: CDK
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version: 14

      - name: Install dependencies
        run: npm ci -f

      - name: Build frontend
        run: npm run build:frontend

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          role-to-assume: ${{ inputs.AWS_ROLE_ARN }}
          aws-region: eu-central-1
          role-skip-session-tagging: true
          role-duration-seconds: 3600

      - name: CDK deploy
        uses: youyo/aws-cdk-github-actions@v2
        with:
          cdk_subcommand: 'deploy'
          working_dir: 'backend'
          cdk_stack: 'app'
          cdk_args: '--require-approval never'
          actions_comment: false
